div {
  padding: 5px;
}
button {
  background-color: lightblue;
  border: none;
  padding: 15px 45px;
}
#output{
  outline: 1px solid;
  width: 382px;
  height: 100px;
  margin: 15px 0;
  overflow: auto;
}

.box-bg{
  background-color: yellow;
}